.todoList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.todoList li {
  position: relative;
  font-size: 20px;
  border-bottom: 1px solid #ededed;
}

.todoList li:last-child {
  border-bottom: none;
}

.todoList li label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0 15px 60px;
  width: 100%;
  max-width: 150px;
}
